*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top,  rgba(4, 105, 206, 0.667), rgb(235, 53, 199));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.container{
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1{
  margin-bottom: 10px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  /* font-style: oblique; */
  padding-top: 10px;
}


.search-bar-container {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  margin: 10px;
  position: relative;
  transition: width 1.5s;
}

.magnifier {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.mic-icon {
  width: 30px;
  position: absolute;
  right: 10px;
  transition: width 0.4s;
  transition-delay: 1s;
}

.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 100%;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 1s;
  transition-delay: 0.5s;
}

.active.search-bar-container {
  width: 50px;
}

.active .input {
  width: 0;
}

.active .mic-icon {
  width: 0;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

